/%header
  / %nav{:role => 'navigation'}
  /   %ul
  /     %li= link_to 'about', '/info.html'
  /     %li= link_to 'words', '/words.html'
  /     %li= link_to 'work', '/work.html'
  /     %li.last= link_to 'contact', '/contact.html'
