- @title = "Mike Heitzke - UI Designer"

.fixed_content
  .greeting
    %ul
      %li.first Interface Designer
      %li.second Turner of wrenches
      %li.third Lover of dogs
.fixed_content.magnet-buttons
  %p.italic.smaller
    You're probably not here to hang out...
  %p.italic.full
    You're probably not here to hang out, but stay and kick around a little...
  = link_to 'Contact Me', 'contact.html', :class => 'btn blue full'
  = link_to 'View Blog', 'words.html', :class => 'btn green full'
  = link_to 'Contact', 'contact.html', :class => 'btn blue mobile'
  = link_to 'Blog', 'words.html', :class => 'btn green mobile'
  
