- @title = "Mike Heitzke - UI Designer"

%h1.greeting
  UI Designer 
  %span.ampersand
    &amp;
  %span.builder
    Builder
= image_tag 'profile.jpg', :alt => 'profile image', :class => 'pull-right'
