- @title = "Resume - Mike Heitzke - UI/Web Designer"

.fixed_content
  .resume_download
    //= link_to 'download .pdf', '/'
  %h2.resume_title Resume
  .page_content.resume
    %h3 Work
    .job
      %h4
        %span.bold
          GradesFirst: 
        March 2012 - Present
      %p GradesFirst are the creators, supportors & implementors of a very thorough and powerful Ruby-based student support system.
      %p
        %span.position
          UI/UX 
        specialist: UI design & implementation of new features as well as rehashing of entire application
    .job
      %h4 
        %span.bold
          Isotope11: 
        March 2010 to March 2012 
      %p Isotope11 is a RoR focused custom software consultancy out of Birmingham, AL.
      %p
        %span.position
          UI designer: 
        Duties included complete UI design & construction - from wireframes & user stories to haml/scss and launching. Other duties included legacy browser support, redesigning existing applications as well as basic print/identity work. 
    .job
      %h4 
        %span.bold
          Kinetic Communications: 
        February 2009 to March 2010
      %p
        %span.position
          Apprentice to UI designer:
        Completed UI designs from initial photoshop layouts to html/css construction. Basic content editing and updating, e-newsletter development via ConstantContact, and form creation were other common duties. 
    .job  
      %h4 
        %span.bold
          Digett: 
        June to August 2008
      %p
        %span.position
          Intern:
        Created ads and content for web clients, promotional work ranging from a t-shirt, photography, to shooting and editing videos.
    %h3 Knowledge base & skills
    .skillgroup
      %h5 Programs
      %ul 
        %li Photoshop
        %li Illustrator
        %li VIM
        %li Textmate/Sublime
        %li InDesign
        %li AfterEffects
    .skillgroup
      %h5 Skills
      %ul
        %li HTML/CSS - HAML/SCSS
        %li Wireframing
        %li User stories
        %li UI & UX design for web & mobile devices
        %li Javascript
        %li Branding
        %li Illustration
        
    %h3 Education
    %h4 Samford University 
    %p Bachelor of Art in Graphic Design - 2004 to 2008 (grad) 
    %p 3.00 GPA Overall