// 320 styles ----------------------------------------------------------------

.fixed-content {
  max-width: 95%;
  padding-left: 10px;
  overflow:hidden;
  h2 {
    font-size: 1.8em;
    color:#38acaa;
    @include text-shadow(1px 1px 1px #fff);
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin: 20px 0 10px 0;
    padding-bottom: 3px;
  }
  h4 {
    color: #557d59;
    font-size: 1.4em;
    font-weight: lighter;
    a {
      color: #557d59;
    }
  }
  ul {
    li {
      color: #555;
      padding: 0 0 4px 0;

    }
  }
  p {
    color: #666;
    margin: 10px 0 23px 0;
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: lighter;
    a {
      color: #557d59;
    }
  }
  span.time, span.tagged {
    color: #999;
    display: block;
    margin: 0 0 5px 0;
    span {
      color: #38ACAA;
    }
    a {
      margin: 0 3px 0 0;
      display: inline-block;
      color: #38ACAA;
      &:hover {
        color: #1e8381;
      }
    }
  }
  .resume {
    .skillgroup {
      display: inline-block;
      vertical-align: top;
      width: 40%;
      h5 {
        text-transform: uppercase;
        color: #335D37;
        margin: 0 0 5px 0;
      }
      ul {
        list-style: none;
        li {
          padding:  5px 0;
        }
      }
    }
    .job {
      margin: 0 0 20px 0;
      padding: 10px 0 15px 0;
      border-bottom: 1px solid #ddd;
      p {
        margin: 0 0 10px 0;
      }
    }
  }
  .page_content {
    padding: 10px 0;
    ul {
      li {
        a {
          color: #557d59;
        }
      }
    }
    .wufoo {
      margin: 20px 0;
    }
    .skills {
      width: 95%;
      .skillset {
        margin: 20px 0;
        h5 {
          display: inline-block;
          vertical-align: middle;
          color: #38acaa;
          width: 20%;
        }
      }
    }
    h3 {
      font-size: 1.5em;
      color: #7daa81;
      margin: 20px 0 25px 0;
      font-weight: lighter;
    }
    h4 {
      font-size: 1.1em;
      margin: 0 0 10px 0;
    }
    p {
      span.position {
        font-style: italic;
      }
    }
  }
}
.page_content.blog {
  h3 {
    color: #555;
  }
}

.resume_download {
  float:right;
  margin: 25px 0 0 0;
}
.blog_post_list {
  width: 95%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0 0 0;
  .blog_post {
    margin: 5px 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    h4 {
      a {
        color: #353A3E;
        border-bottom: 0px solid #557d59;
        &:hover {
          border-bottom: 1px solid #557d59;
        }
      }
    }
    a {
      color: #289290;
      text-decoration: none;
      border-bottom: 0px solid #289290;
      padding-bottom: 7px;
      &:hover {
        border-bottom: 1px solid #289290;
        @include transition(all .2s);
        padding-bottom: 2px;
      }
    }
  }
}

.tags {
  display: inline-block;
  width: 95%;
  vertical-align: top;
  float: right;
  a.tag {
    float: left;
    @include border-radius(4px);
    padding: 4px 8px 4px 14px;
    color: #fff;
    text-decoration: none;
    position: relative;
    @include background-image(linear-gradient(left, #38ACAA, #289290));
    background-color: #444;
    list-style:none;
    font-weight: lighter;
    font-size: .9em;
    @include box-shadow(1px 1px 1px #444);
    margin: 2px 17px 6px 0;
    &:focus {
      top: 1px;
    }
    &:hover {
      background: #138987;
      &:before {
        border-color: transparent #138987 transparent transparent;
      }
    }
    &:before {
      float: left;
      position: absolute;
      top: 0;
      left: -9px;
      width: 0;
      height: 0;
      border-color: transparent #38ACAA transparent transparent;
      border-style: solid;
      border-width: 11px 11px 10px 0;
      content: "";
    }
    &:after {
      content:"";
      position: absolute;
      top: 8px;
      left: 3px;
      float: left;
      width: 5px;
      height: 5px;
      @include border-radius(2px);
      background: #eee;
      @include box-shadow (-1px -1px 2px #004977);
    }
  }
}
.greeting {
  width: auto;
  display:block;
  margin: 1em 0;
  padding-left: 10px;
  ul {
    margin: 0 0 15px 0;
    li.first {
      @include background-image(linear-gradient(#76dfdc, #84e3e1));
    }
    li.second {
      @include background-image(linear-gradient(#59d6d3, #6ddcda));
    }
    li.third {
      @include background-image(linear-gradient(#44cfcc, #50d3d0));
    }
    li {
      clear:both;
      letter-spacing: auto;
      color:#fff;
      text-transform: uppercase;
      font-weight: auto;
      background:#63d9d6;
      padding: 4px 5px 0 5px;
      width: auto;
      margin: 5px 0;
      display: inline-block;
      font-size: 1.95em;
    }
  }
}
.magnet-buttons {
  margin: 20px 0;
  padding-left: 10px;
  p {
    display: none;
  }
}

nav {
  display: inline-block;
  vertical-align: top;
  margin: -2px 0 0 0;
  float: right;
  li {
    padding: 2px 0 20px 0;
    text-align:right;
    list-style: none;
    a {
      color: #A9AFB8;
      font-size: 1.1em;
      text-decoration: none;
      text-transform: uppercase;
      @include text-shadow(1px 1px 1px #fff);
      position: relative;
      font-weight: 300;
      letter-spacing: .02em;
      &:hover {
        color:#333;
        -moz-transition: color .5s ease;
        -webkit-transition: color .5s ease;
      }
      &:active {
        top: 1px;
      }
    }
  }
}
footer {
  height:83px;
  width:100%;
  padding: 10px 0 0 0;
  display:block;
  p.disclaimer {
    width: 100%;
    text-align: center;
    font-style: italic;
    display: block;
    float: left;
    border-top: 1px solid #b8c3c9;
    font-size: .8em;
    color: #8e9da5;
  }
  a {
    color: #4B535E;
    &:hover {
      color: #444;
    }
  }
  ul.contact {
    float:left;
    padding:15px 0 0 0;
    li {
      padding: 3px 0;
      a {
        &:hover {
          color:#20526e;
        }
      }
    }
  }
  ul.icons {
    float:right;
    padding: 15px 0 0 0;
    li {
      display:inline-block;
      a {
        display: inline-block;
        text-decoration: none;
        font-size: 2.5em;
        &:hover {
          color: #3B414D;
          @include transition(color .2s ease-in);
        }
      }
      span {
        text-indent: -9999em;
        position: absolute;
        display: block;
      }
    }
  }
}
span.bold {
  font-weight: bold;
  color: #335D37;
  text-transform: uppercase;
}
.clear {
  clear:both;
}
img.right {
  float: none;
}
.right.qr {
  max-width: 100%;
  margin-left: 10px;
  height: 250px;
}

.work_block {
  height: auto;
  clear: right;
  width: 100%;
  margin: 10px 0 20px 0;
  h2 {
    border: none;
    margin: 0 0 0 0;
    padding: 12px 10px 7px 10px;
    color: #578391;
    font-size: 1.4em;
    background: #fff;
    width: 100%;
    @include box-shadow (1px 1px 1px #ddd);
    z-index: 5;
    position: relative;
  }
  .work_content {
    vertical-align: top;
    display: inline-block;
    padding: 15px;
    width: 92%;
    a {
      color: #578391;
      &:hover {
        background: #38acaa;
        @include transition(all .2s ease-in-out);
        color: #fff;
        padding: 5px;
        text-decoration: none;
      }
    }
  }
  .work_image {
    display: inline-block;
    right: 0;
    vertical-align: top;
    width: 120%;
    float: right;
    margin: 0 0 40px 0;
    z-index: 1;
  }
}

form#form1 {
  .contact_left {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  .contact_right {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  #foli4 {
    display: inline-block;
    width: 100%;
    input {
      height: 45px;
      @include border-radius(5px);
      font-size: .9em;
      border: 2px solid #ddd;
      width: 96.5%;
      margin: 0 0 10px 0;
      padding: 0 0 0 5px;
      display: inline-block;
    }
  }
  #foli2 {
    display: inline-block;
    width: 100%;
    input {
      height: 45px;
      @include border-radius(5px);
      font-size: .9em;
      border: 2px solid #ddd;
      width: 90%;
      margin: 0 0 10px 0;
      padding: 0 0 0 5px;
      display: inline-block;

    }
  }
  span#req_2 {
    display: inline-block;
    vertical-align: middle;
    color: #a20000;
    margin: 0 0 0 12px;
  }
 .buttons {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  input {
    height: 75px;
    font-size: 2em;
    @include border-radius(5px);
    @include background-image(linear-gradient(#82edeb, #6bdbd9));
    background-color:#7ae6e4;
    border:1px solid #5CD3D1;
    cursor:  pointer;
    color: #fff;
    text-transform: uppercase;
    text-decoration:none;
    display: inline-block;
    font-size: 1.6em;
    font-weight: lighter;
    width: 100%;
    padding: 10px 21px 10px 21px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3),
    inset 0 1px 0 0 rgba(255,255,255,0.5), 
    inset 0 -3px 0 0 rgba(0,0,0,0.2);
    @include transition(all .2s ease-in-out);
    position: relative;
    &:active {
      padding: 10px 21px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.3),
      inset 0 1px 0 0 rgba(255,255,255,0.5);
      -moz-transform: translate(0, 2px);
      -webkit-transform: translate(0, 3px);
    }
    &:hover {
      @include background-image(linear-gradient(#6bdbd9, #6dbdb9));
      background-color:#6bdbd9;
      }
    }
 }
 #foli1 {
  display: inline-block;
  vertical-align: top;
  width: 96%;
    textarea {
      @include border-radius(5px);
      font-size: .9em;
      border: 2px solid #ddd;
      width: 99%;
      padding: 5px;
      font-family: sans-serif;
      height: 72px;
      margin: 0 0 20px 0;
    }
  }
}
