// 768 styles ----------------------------------------------------------------

.fixed-content {
  width: 95%;
  overflow: hidden;
  margin: 0 auto;
}
.greeting {
  ul {
    li {
      font-size: 4.2em;
      padding: 10px 10px 0 10px;
    }
  }
}
.slider_wrap {
  width: 768px;
  overflow:hidden;
  margin: 5px auto 10px auto;
}

.magnet-buttons {
  p {
    display: inline-block;
    margin-right: 14%;
  }
  .full {
    display: inline-block;
  }
  .mobile {
    display: none;
  }
}
.fixed-content {
  nav {
    ul {
      li.last {
        padding-right: 0;
      }
      li {
        padding: 2px 30px;
        display: inline-block;
      }
    }
  }
}
.work_block {
  h2 {
    border: none;
    padding: 12px 10px 7px 10px;
    font-size: 1.6em;
    width: 100%;
  }
  .work_content {
    padding: 15px;
    width: 42%;
  }
  .work_image {
    width: 54%;
    margin: -51px 0 40px 0;
  }
}
