// 992 styles ----------------------------------------------------------------

.fixed_content {
  width:965px;
  overflow:hidden;
  margin: 0 auto;
  nav {
    ul {
      li.last {
        padding-right: 0;
      }
      li {
        display: inline;
        padding: 2px 30px;
        a {
          font-size: 1.2em;
        }
      }
    }
  }
}
.blog_post_list {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0 0 0;
}
.tags {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  float: right;
}
.magnet-buttons {
  p.full {
    display: inline-block;
    margin-right: 5%;
  }
  p.smaller {
    display: none;
  }
}
.work_block {
  h2 {
    border: none;
    padding: 12px 10px 7px 10px;
    font-size: 2em;
    width: 100%;
  }
  .work_content {
    padding: 15px;
    width: 46%;
  }
  .work_image {
    width: 49%;
    margin: -51px 0 40px 0;
  }
}
form#form1 {
  .contact_left {
    display: inline-block;
    width: 78%;
    vertical-align: top;
  }
  .contact_right {
    display: inline-block;
    width: 21%;
    vertical-align: top;
  }
  #foli4 {
    display: inline-block;
    width: 53%;
    input {
      height: 45px;
      @include border-radius(5px);
      font-size: .9em;
      border: 2px solid #ddd;
      width: 100%;
      margin: 0 0 10px 0;
      padding: 0 0 0 5px;
      display: inline-block;
      
    }
  }
  #foli2 {
    display: inline-block;
    width: 46%;
    
    input {
      height: 45px;
      @include border-radius(5px);
      font-size: .9em;
      border: 2px solid #ddd;
      width: 88%;
      margin: 0 0 10px 0;
      padding: 0 0 0 5px;
      display: inline-block;
      
    }
  }
  span#req_2 {
    display: inline-block;
    vertical-align: middle;
    color: #a20000;
    margin: 0 0 0 12px;
  }
 .buttons {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  input {
    height: 143px;
    font-family: 'CartoGothicStdBook', Arial, sans-serif; 
    font-size: 2em;
    @include border-radius(5px);
    @include background-image(linear-gradient(#82edeb, #6bdbd9));
    background-color:#7ae6e4;
    border:1px solid #5CD3D1;
    cursor:  pointer;
    color: #fff;
    text-transform: uppercase;
    text-decoration:none;
    display: inline-block;
    font-size: 1.6em;
    font-weight: lighter;
    width: 100%;
    padding: 10px 21px 10px 21px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3),
    inset 0 1px 0 0 rgba(255,255,255,0.5), 
    inset 0 -3px 0 0 rgba(0,0,0,0.2);
    @include transition(all .2s ease-in-out);
    position: relative;
    &:active {
      padding: 10px 21px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.3),
      inset 0 1px 0 0 rgba(255,255,255,0.5);
      -moz-transform: translate(0, 2px);
      -webkit-transform: translate(0, 3px);
    }
    &:hover {
      @include background-image(linear-gradient(#6bdbd9, #6bdbd9));
      background-color:#6bdbd9;
      }
    }
 }
 #foli1 {
  display: inline-block;
  vertical-align: top;
  width: 98%;
    textarea {
      @include border-radius(5px);
      font-size: .9em;
      border: 2px solid #ddd;
      width: 99%;
      padding: 5px;
      font-family: sans-serif;
      height: 72px;
      margin: 0 0 20px 0;
    }
  }
}
.fixed_content {
  .page_content {
    .skills {
      width: 80%;
      .skillset {
        margin: 20px 0;
        h5 {
          display: inline-block;
          vertical-align: middle;
          color: #38acaa;
          width: 12%;
        }
        .bar {
          width: 56%;
        }
      }
    }
  }
}
